<div class="blog-show-wrapper">
  <div class: "show-title">
    <%= @user.name%>
  </div>
  <div class: "show-content">
    <%= @user.email%>
  </div>
    <%= link_to "編集", "#" %>
     <%= link_to "削除", "#" %>
</div>